
.mainback{
    min-height: 93vh;
    border: 2px solid red;
}
.page{
    width: 100%;
    border: 2px solid green;
}
@media only screen and (max-width: 600px){
    .heading{
        font-size:30px ;
    }
}